.icon {
	color: var(--mantine-color-dimmed);
	transition: transform ease 400ms;
}

.root {
	transition: opacity ease 200ms;
	&:hover {
		opacity: 0.5;

		.icon {
			transform: rotate(180deg);
		}
	}
}