.background {
	--card-width: 500px;
	--card-height: 275px;
	--page-padding: 20px;

	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100vw;
	height: 100vh;

	padding: var(--page-padding);
}

.card {
	width: var(--card-width);
	height: var(--card-height);
	z-index: 1;
}

@property --blur-angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

.blur {
	--blur-colour: #f43a13;
	--blur-offset: -5px;

	position: absolute;
	width: min(calc(100vw - (var(--page-padding) * 2)), calc(var(--card-width) + var(--blur-offset)));
	height: calc(var(--card-height) + var(--blur-offset));
	top: 50%;
	left: 50%;
	translate: -50% -50%;

	background: conic-gradient(from var(--blur-angle), var(--blur-colour), transparent, transparent, var(--blur-colour));
	border-radius: var(--mantine-radius-xl);
	animation: 1.5s spin linear infinite;
	transition: opacity ease 800ms;
	opacity: 0;

	filter: blur(0.75rem);
}

.blur.in {
	opacity: 1;
}


@keyframes spin {
	from {
		--blur-angle: 0deg;
	}
	to {
		--blur-angle: 360deg;
	}
}