name: Build BioCollect PWA Artifacts

on:
  push:
    branches:
      - 'feature/**'
      - 'main'
      - 'testing'

jobs:
  build-and-attach:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Build app for CICD
        run: npm run build:cicd

      - name: Upload production artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-production
          path: dist/app-prod.zip

      - name: Upload staging artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-staging
          path: dist/app-staging.zip

      - name: Upload testing artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-testing
          path: dist/app-test.zip

      - name: Upload development artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-development
          path: dist/app-dev.zip
